@using CrashReport.WebUI.Util;
@model IEnumerable<CrashReport.Domain.Entities.Application>

@{
    ViewBag.Title = "Applications";
}

<h2>Applications</h2>

<p>
    @Html.ActionLink("Add Application", "AddApp")
</p>

@foreach (var app in Model)
{
    <a class="application-item" href="@Url.Action("ViewApp", new { id = app.ApplicationId })">
        <img class="application-icon" src="@Utilities.GetAppIconPath(app)" />
        <div class="application-name">@app.Name</div>
        <div class="application-versions">@app.Versions.Count() version(s)</div>
    </a>
}
